# Dependencies
node_modules/

# Storybook build output
storybook-static/

# Storybook cache
node_modules/.cache/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Env
.env
.env.*
!.env.example

# TypeScript build output
dist/
*.tsbuildinfo

# Other
/untitledui
